
.i-stars--regular-0__09f24__3ocQa {
  width: 108px;
  height: 20px;
  background-position: 0 -320px
}

@media print {
  .i-stars--regular-0__09f24__3ocQa img {
    left: 0;
    top: -320px
  }
}

.i-stars--regular-1-half__09f24__1Ght9 {
  width: 108px;
  height: 20px;
  background-position: 0 -340px
}

@media print {
  .i-stars--regular-1-half__09f24__1Ght9 img {
    left: 0;
    top: -340px
  }
}

.i-stars--regular-1__09f24__1HqiV {
  width: 108px;
  height: 20px;
  background-position: 0 -360px
}

@media print {
  .i-stars--regular-1__09f24__1HqiV img {
    left: 0;
    top: -360px
  }
}

.i-stars--regular-2-half__09f24__3LuvJ {
  width: 108px;
  height: 20px;
  background-position: 0 -380px
}

@media print {
  .i-stars--regular-2-half__09f24__3LuvJ img {
    left: 0;
    top: -380px
  }
}

.i-stars--regular-2__09f24__3LFi9 {
  width: 108px;
  height: 20px;
  background-position: 0 -400px
}

@media print {
  .i-stars--regular-2__09f24__3LFi9 img {
    left: 0;
    top: -400px
  }
}

.i-stars--regular-3-half__09f24__dpRnb {
  width: 108px;
  height: 20px;
  background-position: 0 -420px
}

@media print {
  .i-stars--regular-3-half__09f24__dpRnb img {
    left: 0;
    top: -420px
  }
}

.i-stars--regular-3__09f24__Xlhbn {
  width: 108px;
  height: 20px;
  background-position: 0 -440px
}

@media print {
  .i-stars--regular-3__09f24__Xlhbn img {
    left: 0;
    top: -440px
  }
}

.i-stars--regular-4-half__09f24__1YrPo {
  width: 108px;
  height: 20px;
  background-position: 0 -460px
}

@media print {
  .i-stars--regular-4-half__09f24__1YrPo img {
    left: 0;
    top: -460px
  }
}

.i-stars--regular-4__09f24__2YrSK {
  width: 108px;
  height: 20px;
  background-position: 0 -480px
}

@media print {
  .i-stars--regular-4__09f24__2YrSK img {
    left: 0;
    top: -480px
  }
}

.i-stars--regular-5__09f24__N5JxY {
  width: 108px;
  height: 20px;
  background-position: 0 -500px
}

@media print {
  .i-stars--regular-5__09f24__N5JxY img {
    left: 0;
    top: -500px
  }
}
